<div class="card d-flex flex-wrap">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body">
        
      <a role="button" href="/movies/{{this.id}}" class="a1 btn btn-primary btn-lg">{{this.title}}</a>
        {{!-- <p class="card-text">{{this.}}</p> --}}
      </div>
</div>