<body class="bgImage">
{{!-- <h1>Cinema <br>
    Ironhack
</h1> --}}

<div class="container index1">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <a role="button" href="/movies" class="a1 btn2 btn btn-primary btn-lg">Check the movies!</a>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>



</body>